@media only screen and (max-width:1680px) {
    html {
        font-size: 9px
    }
}

@media only screen and (max-width:1471px) {
    html {
        font-size: 8px
    }
}

@media only screen and (max-width:1440px) {
    html {
        font-size: 8px
    }
}


@media only screen and (max-width:1366px) {
    html {
        font-size: 7px
    }
}

@media only screen and (max-width:1280px) {
    html {
        font-size: 7px
    }
}