@media only screen and (max-width:1680px) {
    html {
        font-size: 9px
    }
}

@media only screen and (max-width:1471px) {
    html {
        font-size: 8px
    }
}

@media only screen and (max-width:1440px) {
    html {
        font-size: 8px
    }
}


@media only screen and (max-width:1366px) {
    html {
        font-size: 7px
    }
}

@media only screen and (max-width:1280px) {
    html {
        font-size: 7px
    }
}

@media only screen and (max-width:992px) {
    .s6 svg {
        display: none;
    }

    .s7 .box img {
        bottom: -9rem;
    }

    .s8 .container-in {
        margin-left: 0;
        margin-right: 0;
    }

    .rainbow svg {
        width: 60%;
    }

    .s4 .accordition .number-menu {
        display: none;
    }
}

@media only screen and (max-width:576px) {
    header {
        .header-bg {
            .header-center {
                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                }
            }
        }
    }

    .s4 img,
    .s8 .title h2 img {
        display: flex;
        margin: 0 auto;
    }

    .s6 img {
        margin: 0 auto;
        display: flex;
    }

    header .header-bg .header-top .logo {
        text-align: center;
    }

    header .header-bg .header-top .phone {
        justify-content: center;
        margin-top: 3rem;
    }

    .fire-dude {
        display: none;
    }

    .hand {
        display: none;
    }

    .line2,
    .line5 {
        bottom: 0;
        top: 0 !important;
    }

    h2 {
        text-align: center;

    }

    p {
        text-align: center;
    }

    .s3 .s3-bg {
        justify-content: flex-start;
    }

    .s2 #third-box {
        margin-bottom: 15rem;
    }

    .s3 .s3-bg button {
        display: flex;
        margin: 3rem auto;
        justify-content: center;
    }

    .s7 .box img {
        display: none;
    }

    .s4 img,
    .s8 .title h2 img,
    .s8 .title h2 img {
        display: none;
    }

    .s7 .box {
        margin-bottom: 5rem;
    }
}